<ion-content [fullscreen]="true">
  <app-menu></app-menu>

    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <img src="https://cdn4.iconfinder.com/data/icons/iconsland-weather/PNG/64x64/Ice.png" alt="" >
      </ion-col>

      <ion-col size="3">
        <img src="https://cdn4.iconfinder.com/data/icons/iconsland-weather/PNG/64x64/Ice.png" alt="" >
      </ion-col>

      <ion-col size="3">
        <img src="https://cdn4.iconfinder.com/data/icons/iconsland-weather/PNG/64x64/Ice.png" alt="" >
      </ion-col>
    </ion-row>

  
</ion-content>