<ion-header>
  <ion-row>
    <ion-col size="1" class="ion-text-center">
      <ion-thumbnail>
        <img src="https://cdn1.iconfinder.com/data/icons/garden-tools-17/64/cactus-flower-plant-succulent-floral-64.png" alt="">
      </ion-thumbnail>
      
    </ion-col>

    <ion-col size="auto" class="ion-text-center" >
      <ion-item routerLink="/floricultura">
        <ion-thumbnail slot="start">
          <img src="https://cdn0.iconfinder.com/data/icons/cannabis-emoji/512/cannabis-09-64.png" alt="">
        </ion-thumbnail>
        <ion-label>Floricultura</ion-label>
      </ion-item>
      </ion-col>

    <ion-col size="auto" class="ion-text-center" >
    <ion-item routerLink="/produtos">
      <ion-thumbnail slot="start">
        <img src="https://cdn0.iconfinder.com/data/icons/simple-mix-outline/160/watering-can-64.png" alt="">
      </ion-thumbnail>
      <ion-label>Produtos</ion-label>
    </ion-item>
    </ion-col>

    <ion-col size="auto" class="ion-text-center" >
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://cdn1.iconfinder.com/data/icons/phone-call-5/64/abroad_call_hotline_phone_hang_up-64.png" alt="">
        </ion-thumbnail>
        <ion-label>Contato</ion-label>
      </ion-item>
      </ion-col>
  
    
  </ion-row>
</ion-header>