<ion-content [fullscreen]="true">

  <ion-row>

  <ion-row class="ion-justify-content-center"></ion-row>
      <ion-col size="12" size-lg="6">

          <!-- CABEÇALHO DO CURRICULO -->

          <ion-row>
              <ion-col size="12" size-lg="8">
                  <img src="https://media.gettyimages.com/id/1284013571/pt/foto/cute-orang-utan.jpg?s=612x612&w=gi&k=20&c=bnXZKWCcR4FTjqRdFme1ko3HRnH09B0WcHZRHD-StkU=">
              </ion-col>

              <ion-col size="12" size-lg="8">
                  <h1> Candidato</h1>
                  <h1> Programador CSS</h1>
              </ion-col>
          </ion-row>

      
          <!-- DIVISORIA -->  
          <ion-row>
            <ion-col size="4">
              <ion-item-divider></ion-item-divider>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              CONTATO
            </ion-col>
            <ion-col size="4"></ion-col>
            
          </ion-row>

          <!-- INFORMAÇÕES DE CONTATO -->

          <ion-row>
            <ion-col size="12"> 
              
              <ion-item>
                <ion-label>Telefone: 999991</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>E-mail: email@gmail.com</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Github: github.com/user</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>




      </ion-col>

  </ion-row>

</ion-content>
